*{
        font: roboto, sans-serif;  
        margin-left: 50px;
        margin-right: 70px;

}
 


body{
    display: flex;
    flex-direction: column;
}

header{ 
    display: flex;
    background-color: #1F2937; 
    justify-content: space-around; 
    align-items: middle;
    padding: 10px;
    justify-items: flex-end;
}

header div{
    margin-left: 100px;
    color: #F9FAF8;
    font-size: 24px; 
    display: inline;
    justify-self: flex-start;
    border: 20px;
    margin: 10px;
    padding: 10px;

}

header ul{
    display: grid; 
    grid-template-columns: auto;
    justify-self:flex-start;
    justify-content: end; 
}

header ul{ 
    display: inline;  

}

header li{  
    display: inline; 
    font-size: 18px;
    border: 10px;
    align-items: center;
}

header a{
    color: #E5E7EB;
    justify-items: center;
}



.main-1{
    display: grid; 
    grid-template-columns: 50% 50%;
    align-items: center;
    background-color: #1F2937;
    border: 100px;
}


.main-1.maintext-secondarytext-button{
    display: grid; 
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
}

.maintext-secondarytext-button h1{      
    font-size: 48px; 
    color: #F9FAF8;
    font-weight: 900;

}

.maintext-secondarytext-button h2{      
    font-size: 24px; 
    color: #E5E7EB;
    font-weight: 900;

}

.maintext-secondarytext-button button{      
    font-size: 14px; 
    background-color: #3882f6;
    color: #F9FAF8;
    cursor: pointer;
    padding: 10px;
    text-box-edge:initial;
}

.main-2{
    margin-top: 100px;
    margin-bottom: 100px;
}


.main-2 h1{
    text-align: center;
}

.main-2 ul{
    display: grid; 
    grid-template-columns: 25% 25% 25% 25%; 
    border: 10px;
    justify-items: center;
    list-style-type: none; 
}



.main-3{
    background-color: #E5E7EB; 
    font-weight: 300;
    font-size: 36px;
    color: #1F2937;
    padding: 80px;
    margin-left: 200px;
    margin-right: 200px;

}


.main-3.author{
    text-shadow: black;
}
 

.main-4 {
    display: grid; 
    grid-template-columns: 50% 50%;
    margin: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    background-color: #3882f6; 
    text-align: center;
}

  

.main-4 button{    
    background-color: #3882f6;
    color: #F9FAF8;
    cursor: pointer;
    padding: 10px;
    border-color: #F9FAF8;
    border-width: 4px;
    margin: 70px;
}



footer{
    text-align: center;
     background-color: #1F2937; 
    font-size: 15px; 
    padding: 20px;
    color: #F9FAF8;
}