*{
    font: Roboto;
}

header{
    background-color: #1F2937;
}

h1{
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px
}

h4{
    color: #EfE7EB;
    font-size: 18px;
}
 
button{
    color: #3882F6;
    
}
 